<div>
    <button (click)="onBackButton()" class="back-button" mat-icon-button color="success">
          <mat-icon>chevron_left</mat-icon>
    </button>
    <app-selectable-input [inputPlaceholder]="'Title'" [onSelectedOption]="onSelected" [onFormSubmit]="onSubmit"></app-selectable-input>

    <app-selectable-input [inputPlaceholder]="'Title'" [onSelectedOption]="onSelected" [onFormSubmit]="onSubmit"></app-selectable-input>

    <app-selectable-input [inputPlaceholder]="'Command'" [onSelectedOption]="onSelected" [onFormSubmit]="onSubmit"></app-selectable-input>
</div>
