.container {
  //height: 100%;
  display: flex;
  margin-top: 20px;
  //align-items: center;
  justify-content: center;

  // background: url(../../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .add-button {
    margin: 20px 20px 20px 50px;
  }

  .settings-button {
    margin: 20px 50px 20px 20px;
  }

}

