<div class="container">
  <!-- <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1> -->

  <form (submit)="optionSelected($event)" class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Run.." aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete (optionSelected)="barOptionSelected($event)" #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
