<div class="container">
  <!-- <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1> -->
  <button [ngClass]="{'display-none': !isFilterActive}" class="cancel-button" (click)="clearField()" mat-icon-button color="success">
      <mat-icon>cancel</mat-icon>
  </button>
  <app-selectable-input [inputPlaceholder]="'Run..'" [options]="options" (onFiltered)="onFiltered($event)" class="input-command"  [onSelectedOption]="barOptionSelected" [onFormSubmit]="optionSelected"></app-selectable-input>
  <button (click)="onAddItem($event)" class="add-button" mat-icon-button color="success">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button (click)="onSettingsOpen($event)" class="settings-button" mat-icon-button color="success">
      <mat-icon>settings</mat-icon>
  </button>
  
</div>
