<div class="container">
  <button
    (click)="onBackButton()"
    class="back-button"
    mat-icon-button
    color="success"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div>
    <app-selectable-input [inputPlaceholder]="'Title'" class="input-title" [onSelectedOption]="onSelected" [onFormSubmit]="onSubmit" [options]="titleOptions"></app-selectable-input>
    <app-selectable-input [inputPlaceholder]="'Command'" class="input-command"  [onSelectedOption]="onSelected" [onFormSubmit]="onSubmit" [options]="commandOptions"></app-selectable-input>
  </div>
  <button
    (click)="onSave()"
    class="check-button"
    mat-icon-button
    color="success"
  >
    <mat-icon>check</mat-icon>
  </button>
  <span style="font-size: 11px; font-weight: bold; color:crimson">
    {{message}}
  </span>
</div>
